* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  color: black;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 47, 47);
  color: #fff;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 10rem;
  padding-top: 0.6rem;
}

.nav {
  height: 10vh;
  background-color: rgb(48, 47, 47);
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px rgb(192, 6, 192);
}
.nav__list {
  display: flex;
  font-size: 1.2rem;
  padding-right: 10px;
}
.nav__list li {
  list-style-type: none;
  padding-left: 10px;
}
.nav__list li a {
  text-decoration: none;
  color: #fff;
}
.nav__list li a.nav__link--active {
  color: rgb(192, 6, 192);
}
.nav__right {
  display: flex;
  align-items: center;
}
.nav__left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.nav__left p {
  color: #fff;
}
.nav__left p span {
  color: rgb(192, 6, 192);
}

@media screen and (max-width: 800px) {
  .services {
    display: grid;
  }
}
.aboutus {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid red;
  height: 70vh;
  color: black;
  padding: 10px;
  gap: 30px;
  font-size: 1.2rem;
}

.about-right {
  display: inline-block;
  color: #fff;
  padding: 5px;
}

.whatwedo {
  background-color: rgb(48, 47, 47);
  padding: 20px;
  font-size: 1.2rem;
}

.whatwedo h3 {
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 1.2rem;
  font-weight: bold;
}

.about-left {
  color: #fff;
}

.about-first, .about-left h3 {
  color: black;
  padding: 10px;
}

.about-sec {
  background-color: rgb(48, 47, 47);
  padding: 10px;
  margin-left: 7px;
  margin-right: 5px;
}

.bg-home {
  height: 40vh;
  background-image: url(./../../images/img/showcase.jpg);
  background-size: 100%;
  background-position: center;
  text-align: center;
  padding-top: 4rem;
}

.bg-home p {
  line-height: 3rem;
  font-size: 1.1rem;
}

.search {
  display: flex;
  justify-content: space-between;
  background-color: rgb(48, 47, 47);
  height: 10vh;
  font-size: 0.8rem;
  align-items: center;
  padding: 10px;
}

.search-right .mail {
  width: 12rem;
  height: 2rem;
  outline: none;
  border-radius: 5px;
}

.search-right button {
  width: 5rem;
  height: 2rem;
  background-color: #FF670A;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.grid-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 30vh;
}

.html, .css, .graphic {
  display: grid;
  grid-template-columns: 1fr;
  color: black;
  text-align: center;
  padding-top: 12px;
  font-size: 1rem;
  gap: 0 1rem;
  overflow: hidden;
}

.image img {
  align-items: center;
  width: 5rem;
}

.img-text {
  margin-top: -50px;
  height: 5rem;
}

.services {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: black;
  gap: 40px;
  height: 70vh;
  overflow: hidden;
}

.service-left {
  padding-left: 20px;
  padding-top: 10px;
}

.service-left h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 30px;
}

.service-left p {
  font-size: 1.2rem;
}

.design, .maintenance, .hosting {
  text-align: left;
  align-content: center;
  padding-top: 10px;
  margin-bottom: 5px;
  gap: 10px;
  padding-left: 8px;
  background-color: rgb(245, 243, 243);
}

.form h3 {
  padding-top: 20px;
}

.service-right {
  margin-top: 30px;
  margin-right: 10px;
  font-size: 1rem;
  color: #fff;
}

.text-area {
  resize: none;
}

form {
  height: 50%;
  background-color: rgb(48, 47, 47);
  padding-left: 15px;
}

button {
  margin-bottom: 10px;
  width: 60px;
  padding: 5px 0;
  color: #fff;
  background-color: #FF670A;
  border: none;
}

input, .text-area {
  width: 90%;
}

body {
  font-size: 1.5rem;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
